#box1 {
    width: 100px;
    height:100px;
    background-color: green;
}

#box1:hover {
    width: 600px;
    transition:width 2s ease-in 0.5s;
    /* transition-delay: 0.5s;  */
}

#box2 {
    width:100px;
    height:100px;
    background-color: red;
    transform:translate(200px);
    transform:translateY(200px);
    transform:rotate(90deg);
}

#box3 {
    width:100px;
    height: 100px;
    background-color: lightblue;
    transform:skewX(20deg);
}

#box4 {
    width:100px;
    height:100px;
    background-color: lightgreen;
    box-shadow: 2px 2px 6px green;
}

#myPic {
    width:200px;
    height:200px;
    background-color: pink;
    background-image: url(Haseeb\ pic.jpg);
    background-size: contain;
    opacity: 50%;
}